#container {
    width: 80%;
    margin: auto;
    background-color: white;
}
#create {
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
#left {
    width: 55%;
}
.register-input-form>label {
    display: block;
    font-size: 1.3em;
}

.register-input-form {
    width: 90%;
    margin: 10px auto;
}

.register-input-field {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: solid 1px silver;
}

.error-form {
    color: red;
    margin-top: 10px;
}