#liste-question {
    width: 100%;
    
}
#question-number{
    width: 50%;
    margin: 25px auto 0 auto;
    font-size: 1.3em;
    text-align: center;
}
#question-number-field{
    width: 50px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.btn-valid-number{
    width: 40px;
    height: 30px;
    background-color: blue;
    border: solid 1px blue;
    color: white;
}
#questions {
    width: 95%;
    margin: 10px auto 0 auto;
    border: 1px solid silver;
    border-radius: 10px;
    margin-bottom: 25px;
}
.question-content {
    width: 95%;
    margin: 10px auto;
}
.question-content input {
    margin-left: 25px;
}
.in-line {
    display: inline-block;
}
.text {
    height: 35px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
#navigation {
    display: flex;
    justify-content: space-between;
}
.previous,.next {
    display: block;
    width: 150px;
    background-color: darkturquoise;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 35px;
    line-height: 35px;
    margin: 25px;
    border-radius: 5px;
}