:root{
    --navbar-and-footer-bg: #22c933;
    --pageBackground: #eff1ed;
    --whiteTextColor: #f0ecec;
}
/* @import url(//fonts.googleapis.com/icon?family=Material+Icons); */
.mainBg {
    background-color: var(--navbar-and-footer-bg);
}
.normale {
    color: black;
}
body {
    background-color: var(--pageBackground);
}
#avatar-container, .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#playerContainer,#adminContainer{
    width: 90%;
    height: 800px;
}
#defaultNavbar a, footer a {
    color: var(--whiteTextColor);
    font-weight: bold;
    font-size: 1.2em;
}
.footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
.bgImg {
    background-image: url("../img/backgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin: 25px auto;
    height: 100vh;
    border: 2px slid;
    color: var(--whiteTextColor);
}
#loginForm .form-group {
    position: relative;
}
#loginForm .form-group i {
    position: absolute;
    left: 10px;
    top: 10px;
}
#loginForm  input {
    padding-left: 50px;
}
#loginForm .form button,
#loginForm .form button:hover,footer a:hover {
    color: var(--whiteTextColor);
    font-style: 1.5em;
    font-weight: bold;
}
#showAvatar {
    display: none;
    width: 200px;
    height: 200px;
    border: solid 2px var(--navbar-and-footer-bg);
    border-radius: 50%;
    overflow: hidden;
}