#container{
    width: 90%;
    margin: auto;
    background-color: #ddd;
}
#blue-topbar{
    color: white;
    width: 100%;
    height: 100px;
    background-color: #80d0d0;
    line-height: 100px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}
#blue-topbar > h1 {
    float: left;
    width: 75%;
    text-align: center;
}
.deconnexion {
    background-color: cyan;
    color: white;
    height: 40px;
    font-weight: bold;
    width: 15%;
    margin-left: 50px;
}
#setting{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#profile{
    margin-top: 50px;
    width: 45%;
    height: 400px;
}
#profile,#displays{
    background-color: white;
    border-radius: 0 0 10px 10px;
}
#displays{
    margin-top: 15px;
    width: 50%;
}
#pp{
    /* width: 100%; */
    display: flex;
    background-color: #80d0d0;
    border-radius: 10px 10px 0 0;
}
.circle{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
    width: 25%;
    height: 140px;
    border: solid 1px;
    border-radius: 50%;
}
#user-info{
    margin-top: 35px;
    margin-left: 10px;
}
#setting-items > table {
    width: 100%;
    margin: auto;
    font-size: 1.7em;
    border-collapse: collapse;
}
#setting-items tr{
    height: 2em;
}
.active{
    border-left: solid 10px green;
    background-color: lightpink;
}
#setting-items td{
    padding-left: 25px;
}
#setting-items td:last-child{
    text-align: center;
}
#setting-items > table a{
    text-decoration: none;
    height: 2em;
    line-height: 2em;
    display: block;
    color: inherit;
} 
